language: rust
cache: cargo
rust:
  - stable
  - beta
  - nightly

# Build only master branch and version tags - http://stackoverflow.com/a/31882307/463761
branches:
  only:
    - master
    - /^v[0-9]/

matrix:
  allow_failures:
    - rust: nightly

install:
  - (cargo install rustfmt || true)
  - PATH=$PATH:/home/travis/.cargo/bin

script:
  - cargo fmt -- --write-mode=diff
  - cargo build --verbose
  - cargo test --verbose

notifications:
  email:
    on_success: never
